body{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

#banniere{
    width: 500px;
    position: relative;
    left: 700px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#addtocart{
    position: absolute;
    right: 0px;
}

#homme{
    text-decoration-color: white;
    text-decoration: none;
    width: 500px;
    height: 450px;
    padding: 100px;
    text-align: center;
    margin: 10000px;
    border: solid white 1px;
    position: relative;
    left: 250px;
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
    background-image: url(../Homme.jpg);
    color:white;
    font-family: 'Lobster', cursive;
    vertical-align: middle;
}

#femme{
    text-decoration-color: white;
    width: 500px;
    height: 450px;
    padding: 100px;
    text-align: center;
    margin: 10000px;
    border: solid white 1px;
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    left: 250px;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    background-image: url(../Femme.jpg);
    color: white;
    vertical-align:middle;
}
